MineSweeper.opensdf
MineSweeper.sdf
ipch/minesweeper-4c52e755/minesweeper-400460ea.ipch
*.obj
*.log
*.pch
*.res
*.pdb
*.tlog
Release/MineSweeper.exe
*.suo
Debug/
ipch/
.vs/MineSweeper/v16/TestStore/0/testlog.manifest
.vs/MineSweeper/v16/TestStore/0/000.testlog
.vs/MineSweeper/v16/Browse.VC.opendb
.vs/MineSweeper/v16/Browse.VC.db-wal
.vs/MineSweeper/v16/Browse.VC.db-shm
.vs/MineSweeper/v16/Browse.VC.db
